html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*свойство будет распространятся на все элементы*/

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button {
  -moz-appearance: none;
  margin: 0;
}
input[type=number]::-ms-inner-spin-button,
input[type=number]::-ms-outer-spin-button {
  -ms-appearance: none;
  margin: 0;
}
input[type=number]::-o-inner-spin-button,
input[type=number]::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}
  html {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

a {
  text-decoration: none;
}

a:hover, a:visited, a:active a:focus {
    text-decoration: none;
}

.main-header a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.main-header {
  color: #000000;

  background-color: #ffffff;
}
.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.site-navigation,
.footer-social,
.catalog-sort-type {
  list-style: none;
}

.site-navigation a {
  color: #000000;

}


.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
}

.active-sort {
  color: #81b3d2;
  width: 82px;
}

.request button:hover {
  color: #ffffff;

  background-color: #604e43;
}

.request button:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
/*Состояние инпута ввода дат*/
.search-item-date-in input:hover {
  color: #000000;

  background-color: #ebebeb;
}

.search-item-date-in input:focus {
  color: #000000;

  background-color: rgba(235, 235, 235, 0);
}
.search-item-date-out input:hover {
  color: #000000;
  background-color: #ebebeb;
}

.search-item-date-out input:focus {
  color: #000000;
  background-color: rgba(235, 235, 235, 0);
}
/* Состояние календаря */
.search-item-date-in button:hover {
  color: #ffffff;
}

.search-item-date-in button:focus {
  color: #81b3d2;
}
.search-item-date-out button:hover {
  color: #ffffff;
}
.search-item-date-out button:focus {
  color: #81b3d2;
}
/* Состояние инпута и кнопок количества посетителей */

.search-item-adult-amount input:hover {
  color: #000000;
  background-color: #ebebeb;
}

.search-item-adult-amount input:active {
  color: #000000;
  background-color: rgba(235, 235, 235, 0);
}

.search-item-adult-amount button {
  color: #a9a9a9;

  background-color: #f2f2f2;
}
.search-item-adult-amount button:hover {
  color: #000000;

  background-color: #ebebeb;
}

.search-item-adult-amount button:active {
  color: #81b3d2;

  background-color: #ffffff;
}

.search-item-children-amount button {
  color: #a9a9a9;

  background-color: #f2f2f2;
}
.search-item-children-amount button:hover {
  color: #000000;

  background-color: #ebebeb;
}

.search-item-children-amount button:active {
  color: #81b3d2;

  background-color: #ffffff;
}


.search-item-children-amount input:hover {
  color: #000000;

  background-color: #ebebeb;
}

.search-item-children-amount input:active {
  color: #000000;

  background-color: rgba(235, 235, 235, 0);
}

.submit-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}


.submit-button:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.catalog-sort-type a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
  list-style: none;
}

.catalog-sort-type a:hover {
  color: #81b3d2;
  text-decoration: underline dotted #81b3d2;
}


.catalog-sort-type a:active {
  color: #000000;
  text-decoration: none;
}

.catalog-title a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.catalog-title a:hover {
  color: #81b3d2;
  text-decoration: none;

  background-color: #ffffff;
}

.catalog-title a:focus {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  background-color: #ffffff;
}

.main-navigation {}
.main-header-logo {}


.footer-sedona a {
  color: inherit;
  text-decoration: none;
}

.footer-social a {
  font-size: 0;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ffffff;
  text-decoration: none;

  background-color: #669ec0;
}

.footer-social a:focus {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;

  background-color: #5496bd;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}


.container {
position: relative;
}
/* Невидимый класс */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Фоновое изображение с маской*/
.container-welcome {
  background-color #9ebcd4;
  background:
  url("../img/maska.png") no-repeat 0 100%,
  url("../img/mountains.jpg") no-repeat 50% -56px;
  background-size: 100% auto, cover;
  text-align: center;
  padding-top: 57px;
  min-height: 508px;
}

.container-background .welcome-sedona {
  width: 458px;
  height: 352px;
  padding-top: 23px;
}
.welcome {}
.gorgeous {}
.sedona {}
.sucks {}


.about {
  min-height: 216px;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 58px;
}
.about-slogan {
  font-size: 21px;
  line-height: 26px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.about-reasons {

  color: #333333;
}
.features {
  display: flex;
  align-items: center;
  text-align: center;

}
.features-item {
  width: 400px;
  min-height: 256px;
  padding-top: 50px;
  padding-bottom: 40px;
}
.features-item-blue {

  background-color: #81b3d2;
}
.features-title {
  font-size: 21px;
  font-weight: 700;
  padding-left: 121px;
  padding-right: 121px;
  margin-bottom: 30px;
}
.features-number {
  margin-bottom: 32px;
}
.features-description {
  color: #333333;
  padding-left: 49px;
  padding-right: 49px;
}

.padding-58 {
  padding-left: 58px;
  padding-right: 58px;
}
.padding-60 {
  padding-left: 60px;
  padding-right: 60px;
}
.features-right {}
.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 810px;
  max-height: 256px;
  overflow: hidden;

  background-color: #c8d1bf;
}
.features .features-icon {
  padding-top: 50px;
  padding-bottom: 75px;
  min-height: 330px;
  background-color: #ffffff;
}
.features .padding-45 {
  padding-top: 45px;
}
.features .features-icon img{
  margin-bottom: 32px;
}
.features-item-grey {
  background-color: #eeeeee;
}

.request {
  text-align: center;
  background-color: #ffffff;
  padding-top: 56px;
}
.request-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 38px;
}
.request-description {
  line-height: 24px;
  color: #333333;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}
.request-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 568px;
  min-height: 86px;
  padding: 0;

  background-color: #766357;
}
.search {
  position: absolute;
  width: 568px;
  background: #fff;

  left: 316px;
  padding-top: 53px;
  padding-bottom: 54px;
  padding-right: 53px;
  padding-left: 53px;
}
.search-data {

}

.map-container {
  position: relative;
}
.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-item {
  line-height: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.features-grey {
  position: relative;
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 346px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.search-item-date-in .padding-13 {
  padding-left: 13px;
}
.search-item-date-out .padding-13 {
  padding-left: 13px;
}
.search-item-visitors {
  width: 460px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 51px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.search-item-date-in, .search-item-date-out {
  margin-left: 22px;
}
.search-item-adult {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -10px;
}
.search-item-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item-adult-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin-left: 32px;
}
.search-item-children-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}
.search-label {
  width: 92px;
  display: flex;
  justify-content: center;
}
.search-button {
  width: 38px;
  min-height: 38px;
  padding: 0;
  border: none;
}
.search-item-number {
  text-align: center;
  width: 42px;
  min-height: 38px;
}

.submit-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 456px;
  min-height: 56px;
  padding: 0;

  background-color: #81b3d2;
}
.calendar-1 {
  position: absolute;
  font-size: 0;
  border: none;
  text-align: center;
  right: 64px;
  top: 60px;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: transparent;
}
.calendar-1 svg:hover {
  fill: #000000;
  background: transparent;
}
.calendar-1 svg:active {
  fill: #81b3d2;
  background: transparent;
}
.calendar-2 {
  position: absolute;
  font-size: 0;
  border: none;
  text-align: center;
  right: 64px;
  top: 127px;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: transparent;
}
.calendar-2 svg:hover {
  fill: #000000;
  background: transparent;
}
.calendar-2 svg:active {
  fill: #81b3d2;
  background: transparent;
}


.map {
  max-height: 593px;
  margin-bottom: -120px;
}
.map-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  background-color: #ded9d3;
}
.main-footer {
  position: absolute;
  padding: 0px;
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}
.footer-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}
.footer-social li {
  margin-right: 6px;
}
.footer-social li:last-child {
  margin-right: 0;
}
/*Переопределение соцсетей*/
.footer-social a:active svg {
  opacity: 0.3;
}
/*Флексы соцсетей*/
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  min-height: 48px;
  color: #ffffff;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  text-align: right;
}
.footer-copyright svg:hover {
  fill: #81b3d2;
}
.footer-copyright svg:active {
  fill: #a9a9a9;
}
.footer-text {
  line-height: 26px;
  margin-right: 8px;
}
.footer-icon {}


.container-hotels {}
.filters {
  background-color: #3d4c53;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filters-item {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}


/*не работает*/
input:focus + label {
  color: #6a6a6a;
}

/*Переопределение чекбоксов*/
.filters-checkbox svg:hover {
  fill: #ffffff;
}
.filters-checkbox svg:active{
  fill: #6a6a6a;
}
.checkbox {}

/*Флексы фильтров*/

.filters-block {
  display: flex;
  flex-direction: column;
  width: 225px;
  padding: 0;
  margin: 0;
}
.filters-checkbox {
  display: flex;
  margin-bottom: 23px;
  cursor: pointer;
}
.filters-checkbox svg {
  margin-right: 12px;
}
.filters-block label:nth-child(4) {
  margin-bottom: 0px;
}
.filters-block-display {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}


.filter-range {

}
/*флексы для сортировки*/


.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 33px;
  padding-top: 33px;
}
.flex-catalog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 590px;
}
.catalog-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 165px;


}
.catalog-sort {
  display: flex;
  align-items: center;

}
.catalog-sort-title {
  font-size: 12px;
  line-height: 18px;
  width: 115px;
}
.catalog-sort-type {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
}
.catalog-sort-type li {
  width: 82px;
}
/*Переопределение сортировки по убыванию и возрастанию*/
.catalog-pointer {
  text-align: right;
  margin-left: auto;
  line-height: 0;
}
.pointer {
  display: flex;
  align-items: center;
  font-size: 0;
  list-style: none;
}
.pointer li:first-child {
  padding-right: 12px;
}
.pointer > li svg {
  fill: rgba(0, 0, 0, 0.3);
}
.pointer > li svg:hover {
  fill: #000000;
}
.pointer > li svg:active {
  fill: #81b3d2;
}
/*!!!!!!!не работает*/
/*.pointer > li a svg {
  fill: #81b3d2;
}*/
.pointer svg:last-child {
  fill: #81b3d2;
}
/*Флексы для карточек товаров*/

.flex-catalog-result {
  display: flex;
  justify-content:space-between;
  min-height: 90px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 72px;
}

.flex-catalog-item {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  max-height: 90px;
}
.catalog-item {
  display: flex;
  flex-direction: column;
}
.catalog-title {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}
.catalog-item-image {
  padding: 0px;
  margin: 0;
  margin-right: 30px;
  min-height: 90px;
}

.stars {
  margin-bottom: 45px;
}
.catalog-category {
  display: flex;
  max-width: 258px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.catalog-category-description {
  display: flex;
  align-items: center;
  color: #333333;
  text-align: left;
  width: 110px;
  min-height: 27px;
}
.item-cost {
  width: 142px;
  text-align: left;
}
.catalog-rate div {
  padding-left: 15px;
}
.catalog-category-type {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(0, 0, 0, 0);
}

.booking {
  display: flex;
  width: 258px;
  justify-content: space-between;
}

.booking-button-blue {
  width: 110px;
  min-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  background-color: #81b3d2;
  color: #fff;
}

.booking-button-blue:hover {
  background: #669ec0;
}

.booking-button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd
}

.booking-button-brown {
  width: 142px;
  min-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #766357;
  color: #fff;
}

.booking-button-brown:hover {
  background-color: #604e43;
}

.booking-button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-rate {
  text-align: right;
  margin-left: auto;
  line-height: 0;
}

/*Бегунок*/
/*.filters-block-display {

}*/
.filter-range {
  width: 330px;
  /*margin: 31px auto;*/

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}
.price-controls label {
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*Flex-контейнеры*/

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow:
  0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header {
padding-bottom: 1px;
}
.main-navigation {
  position: relative;
  padding: 0;
  margin: 0 72px;
}

.site-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 14px;
}
.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
    margin-right: 20%;
}
.main-header-logo{
  width: 20%;
  height: 70px;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  left: 50%;
  top: 0;
  margin: 0;
  z-index: 1;
}
